body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.page-container {
//   margin-top: 80px;
  padding: 50px;
  min-height: 83.5vh;
}

a, a:hover {
  color:#343a40;
  text-decoration: none;
}

.main-page .col {
  padding-bottom: 2rem;
}

.card-title {
  font-weight: bold;
  font-size: 1.1rem;
  padding-bottom: .3rem;
}

.card-price {
  font-weight: bold;
  font-size: .9rem;
}

.list-group-item {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  transition: all .5s;
}

.list-group-item:hover {
  color: #fff;
  background-color: #343a40;
  cursor: pointer;
}

.list-group-item:hover a {
  color: #fff;
}

.list-group-item+.list-group-item {
  border-top-width: 1px;
}

footer {
  background-color: #0d0d0d;
  padding: 2rem 0;
}

footer p {
  color: #fff;
}

footer a, footer a:hover {
  color: #fff;
  text-decoration: underline;
}

.lang-link {
  color: #fff;
  transition: color .5s;
}

.lang-link:hover {
  color: #fff;
  opacity: .8;
}